---
import '../styles/footer/footer.css'

let icon_color = '#BF3A42'
---

<footer class="footer">
  <p class="footer-copy">
    <small>&copy; 2024 もっふる</small>
  </p>
  <div class="footer-pageTop" id="js-toPageTop">
    <svg id="js-toPageTop-icon" width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.32739 27.1075L19.0399 15.58C19.2954 15.3271 19.6404 15.1853 19.9999 15.1853C20.3594 15.1853 20.7043 15.3271 20.9599 15.58L32.6724 27.105C32.9295 27.3577 33.2756 27.4992 33.6361 27.4992C33.9967 27.4992 34.3427 27.3577 34.5999 27.105C34.7265 26.9815 34.8271 26.834 34.8958 26.671C34.9646 26.5081 35 26.3331 35 26.1562C35 25.9794 34.9646 25.8043 34.8958 25.6414C34.8271 25.4785 34.7265 25.3309 34.5999 25.2075L22.8899 13.6825C22.1186 12.9252 21.0808 12.5009 19.9999 12.5009C18.9189 12.5009 17.8812 12.9252 17.1099 13.6825L5.39989 25.2075C5.27288 25.3309 5.17193 25.4786 5.10299 25.6418C5.03405 25.805 4.99854 25.9803 4.99854 26.1575C4.99854 26.3346 5.03405 26.5099 5.10299 26.6731C5.17193 26.8363 5.27288 26.984 5.39989 27.1075C5.65703 27.3602 6.00312 27.5017 6.36364 27.5017C6.72415 27.5017 7.07025 27.3602 7.32739 27.1075Z" fill='#BF3A42'/>
    </svg>      
  </div>
</footer>

<script>
  const toTop = document.getElementById('js-toPageTop');
  const toTop_icon = document.getElementById('js-toPageTop-icon');

  toTop?.addEventListener('click', () => {
    window.scroll({
      top: 0, 
      behavior: "smooth"
    });
  });

  toTop?.addEventListener('mouseover', () => {
    toTop?.classList.add('toTop-hover');
    if (toTop_icon) {
      toTop_icon.innerHTML = `
        <path d="M7.32739 27.1075L19.0399 15.58C19.2954 15.3271 19.6404 15.1853 19.9999 15.1853C20.3594 15.1853 20.7043 15.3271 20.9599 15.58L32.6724 27.105C32.9295 27.3577 33.2756 27.4992 33.6361 27.4992C33.9967 27.4992 34.3427 27.3577 34.5999 27.105C34.7265 26.9815 34.8271 26.834 34.8958 26.671C34.9646 26.5081 35 26.3331 35 26.1562C35 25.9794 34.9646 25.8043 34.8958 25.6414C34.8271 25.4785 34.7265 25.3309 34.5999 25.2075L22.8899 13.6825C22.1186 12.9252 21.0808 12.5009 19.9999 12.5009C18.9189 12.5009 17.8812 12.9252 17.1099 13.6825L5.39989 25.2075C5.27288 25.3309 5.17193 25.4786 5.10299 25.6418C5.03405 25.805 4.99854 25.9803 4.99854 26.1575C4.99854 26.3346 5.03405 26.5099 5.10299 26.6731C5.17193 26.8363 5.27288 26.984 5.39989 27.1075C5.65703 27.3602 6.00312 27.5017 6.36364 27.5017C6.72415 27.5017 7.07025 27.3602 7.32739 27.1075Z" fill="#fff"/>
      `;
    }
  });

  toTop?.addEventListener('mouseleave', () => {
    toTop?.classList.remove('toTop-hover');
    if (toTop_icon) {
      toTop_icon.innerHTML = `
        <path d="M7.32739 27.1075L19.0399 15.58C19.2954 15.3271 19.6404 15.1853 19.9999 15.1853C20.3594 15.1853 20.7043 15.3271 20.9599 15.58L32.6724 27.105C32.9295 27.3577 33.2756 27.4992 33.6361 27.4992C33.9967 27.4992 34.3427 27.3577 34.5999 27.105C34.7265 26.9815 34.8271 26.834 34.8958 26.671C34.9646 26.5081 35 26.3331 35 26.1562C35 25.9794 34.9646 25.8043 34.8958 25.6414C34.8271 25.4785 34.7265 25.3309 34.5999 25.2075L22.8899 13.6825C22.1186 12.9252 21.0808 12.5009 19.9999 12.5009C18.9189 12.5009 17.8812 12.9252 17.1099 13.6825L5.39989 25.2075C5.27288 25.3309 5.17193 25.4786 5.10299 25.6418C5.03405 25.805 4.99854 25.9803 4.99854 26.1575C4.99854 26.3346 5.03405 26.5099 5.10299 26.6731C5.17193 26.8363 5.27288 26.984 5.39989 27.1075C5.65703 27.3602 6.00312 27.5017 6.36364 27.5017C6.72415 27.5017 7.07025 27.3602 7.32739 27.1075Z" fill="#BF3A42"/>
      `;
    }
  });
</script>

